<!DOCTYPE html>
<html lang="en">

 <{require file="block/header_new.html"}>
				<!-- nav -->
				<div class="main background-white" style="margin-top:6em;">

            <!------------- 新增内容部分------------->
                    <div class="banner-d">
                    	<img src="images/modules/cate/banner5.jpg"/>
                    </div>
					
					<!--轮播下小广告图 start-->
					<div id="health-img">
						<ul>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=787&class=two">
									<img src="images/modules/cate/2016-11-24_111257.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=793">
									<img src="images/modules/cate/2016-11-24_111319.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=792&class=two">
									<img src="images/modules/cate/2016-11-24_111405.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=790">
									<img src="images/modules/cate/2016-11-24_111434.png" />
								</a>
							</li>
						</ul>
					</div>
					<!--轮播下小广告图 end-->
					
					<!-- sale  热卖区域-->
					<div id="saleM">
						<div class="saleM_l">
							<a href="http://www.myjmall.com/wap/item.html?item_id=6222" target="_blank">
								<img src="images/modules/cate/1.jpg"/>
							</a>
						</div>
						<div class="saleM_r">
							<ul>
								<li>
									<a href="http://www.myjmall.com/wap/item.html?item_id=6201" target="_blank"><img src="images/modules/cate/2.jpg"/></a>
								</li>
								<li>
									<a href="http://www.myjmall.com/wap/item.html?item_id=5718" target="_blank"><img src="images/modules/cate/3.jpg"/></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- sale  热卖区域 END -->
					
                    <!-- 推荐热品 start -->
                    <div id="Hot-product">
                    	<div class="Hot-product-txt">
                    		<b>应季热销</b><span>大家都在买</span>
                    	</div>
                    	<div class="Hot-product-img">
                    		<a href="##">
                    			<img src="images/modules/cate/banner.jpg" />
                    		</a>
                    	</div>
                    	<div class="Hot-product-pro">
                    		<div class="product-1">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6328">
                    							<img src="images/modules/cate/Hot4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6328">【德国瑞特斯波德】迷你铁罐巧克力排块300g</a></dd>
                    					<dd class="color-red">&yen;75</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5701">
                    							<img src="images/modules/cate/Hot1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5701">Moccona-经典咖啡18g5pcs</a></dd>
                    					<dd class="color-red">&yen;11</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-2">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5709">
                    							<img src="images/modules/cate/Hot2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5709">NIT@奇亚籽草莓味饮料290ml</a></dd>
                    					<dd class="color-red">&yen;9.9</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5831">
                    							<img src="images/modules/cate/Hot3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5831">PRETZ烧烤风味饼干37g</a></dd>
                    					<dd class="color-red">&yen;5.0</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-3">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6225">
                    							<img src="images/modules/cate/Hot5.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6225">倍乐思提拉米苏牛奶巧克力</a></dd>
                    					<dd class="color-red">&yen;16.8</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5675">
                    							<img src="images/modules/cate/Hot6.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5675">活力维瓦香草奶油夹心饼干100g</a></dd>
                    					<dd class="color-red">&yen;6.5</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 推荐热品 end -->
                    
                    <!-- 基础商品楼层 start01 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>休闲零食</b><a href="http://www.gojmall.com/wap/list.html?cat_id=787&class=two"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6201">
                    							<img src="images/modules/cate/snacks1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6201">PERGALE-香草奶油味牛奶巧克力</a></dd>
                    					<dd class="color-red">&yen;9.9</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5845">
                    							<img src="images/modules/cate/snacks2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5845">POPO鱼味海苔豆饼30g</a></dd>
                    					<dd class="color-red">&yen;2.5</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5661">
                    							<img src="images/modules/cate/snacks4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5661">纯然乃特精选混装华夫威化饼干300g</a></dd>
                    					<dd class="color-red">&yen;18.6</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5659">
                    							<img src="images/modules/cate/snacks3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5659">活力维瓦可可味谷物燕麦片250g</a></dd>
                    					<dd class="color-red">&yen;17.2</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end01 -->
                    
                    <!-- 基础商品楼层 start02 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>果汁饮品</b><a href="http://www.gojmall.com/wap/list.html?cat_id=793"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6294">
                    							<img src="images/modules/cate/Juice4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6294">韩国姜水250ml</a></dd>
                    					<dd class="color-red">&yen;6.2</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6288">
                    							<img src="images/modules/cate/Juice2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6288">杰事橙汁饮品</a></dd>
                    					<dd class="color-red">&yen;5.5</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6302">
                    							<img src="images/modules/cate/Juice1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6302">圣堡牌无醇气泡白葡萄果汁</a></dd>
                    					<dd class="color-red">&yen;28.5</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6290">
                    							<img src="images/modules/cate/Juice3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6290">西班牙进口Juver朱力牌菠萝汁饮料200ml</a></dd>
                    					<dd class="color-red">&yen;6.5</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end02 -->
                    
                    <!-- 基础商品楼层 start03 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>乳品冲饮</b><a href="http://www.gojmall.com/wap/list.html?cat_id=792&class=two"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5704">
                    							<img src="images/modules/cate/Dairy1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5704">AMoccona-浓缩咖啡18g5pcs</a></dd>
                    					<dd class="color-red">&yen;11</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6137">
                    							<img src="images/modules/cate/Dairy2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6137">Oz-Farm澳美滋奶粉全脂1kg</a></dd>
                    					<dd class="color-red">&yen;99</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6283">
                    							<img src="images/modules/cate/Dairy3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6283">博恩哥伦比亚冻干速溶咖啡</a></dd>
                    					<dd class="color-red">&yen;38.9</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5922">
                    							<img src="images/modules/cate/Dairy4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5922">雀巢Nestle-Nido速融全脂奶粉-400g</a></dd>
                    					<dd class="color-red">&yen;156</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end03 -->
                    
                    <!-- 基础商品楼层 start04 -->
                    <div>
                    	<div class="Hot-product-txt">
                    		<b>糖果果酱</b><a href="http://www.gojmall.com/wap/list.html?cat_id=790"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5653">
                    							<img src="images/modules/cate/comfit4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5653">嘉云斯清凉薄荷味糖果200g</a></dd>
                    					<dd class="color-red">&yen;12.8</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5763">
                    							<img src="images/modules/cate/comfit1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5763">乐可芬啫喱糖（彩卷形）55g</a></dd>
                    					<dd class="color-red">&yen;4.6</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6227">
                    							<img src="images/modules/cate/comfit2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6227">台湾进口-托馬斯乳酸牛奶味糖100g</a></dd>
                    					<dd class="color-red">&yen;22.5</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5710">
                    							<img src="images/modules/cate/comfit3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5710">喜璐黑莓果酱170g</a></dd>
                    					<dd class="color-red">&yen;15.8</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end04 -->
				</div>
		