<!DOCTYPE html>
<html lang="en">

 <{require file="block/header_new.html"}>
				<!-- nav -->
				<div class="main background-white" style="margin-top:6em;">
					
            <!------------- 新增内容部分------------->
                    <div class="banner-d">
                    	<img src="images/modules/health/banner4.jpg"/>
                    </div>
					<!--轮播下小广告图 start-->
					<div id="health-img">
						<ul>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=827&class=one">
									<img src="images/modules/health/health4.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=828&class=two">
									<img src="images/modules/health/health1.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=838&class=two">
									<img src="images/modules/health/health2.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=838&class=two">
									<img src="images/modules/health/health3.png" />
								</a>
							</li>
						</ul>
					</div>
					<!--轮播下小广告图 end-->
                    
                    <!-- sale  热卖区域-->
					<div id="saleM">
						<div class="saleM_l">
							<a href="http://www.myjmall.com/wap/item.html?item_id=6316" target="_blank">
								<img src="images/modules/health/1.jpg"/>
							</a>
						</div>
						<div class="saleM_r">
							<ul>
								<li>
									<a href="http://www.myjmall.com/wap/item.html?item_id=5778" target="_blank"><img src="images/modules/health/2.jpg"/></a>
								</li>
								<li>
									<a href="http://www.myjmall.com/wap/item.html?item_id=5965" target="_blank"><img src="images/modules/health/3.jpg"/></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- sale  热卖区域 END -->
                    
                    <!-- 推荐热品 start -->
                    <div id="Hot-product">
                    	<div class="Hot-product-txt">
                    		<b>推荐热品</b><span>大家都在买</span>
                    	</div>
                    	<div class="Hot-product-img">
                    		<a href="##">
                    			<img src="images/modules/health/banner.jpg"/>
                    		</a>
                    	</div>
                    	<div class="Hot-product-pro">
                    		<div class="product-1">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5857">
                    							<img src="images/modules/health/recommend1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5857">Jacob-Hooy海藻精华减肥茶-20st</a></dd>
                    					<dd class="color-red">&yen;49</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5773">
                    							<img src="images/modules/health/recommend2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5773">德国Salus-肠道卫士保健饮品-250ml</a></dd>
                    					<dd class="color-red">&yen;129</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-2">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5772">
                    							<img src="images/modules/health/recommend3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5772">德国Salus-有机排毒草药饮-250ml</a></dd>
                    					<dd class="color-red">&yen;146</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5775">
                    							<img src="images/modules/health/recommend4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5775">德国Salus-有机综合维生素能量饮-250ml</a></dd>
                    					<dd class="color-red">&yen;129</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-3">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5923">
                    							<img src="images/modules/health/recommend5.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5923">法国sterimar小海豚成人儿童生理海盐水鼻喷</a></dd>
                    					<dd class="color-red">&yen;56</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5962">
                    							<img src="images/modules/health/recommend6.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5962">挪威Lifeline-Care-Immuno-Child-儿童免疫力营养素咀嚼片</a></dd>
                    					<dd class="color-red">&yen;99</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 推荐热品 end -->
                    
                    <!-- 基础商品楼层 start01 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>基础营养</b><a href="http://www.gojmall.com/wap/list.html?cat_id=827&class=one"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5900">
                    							<img src="images/modules/health/basis1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5900">Jacob-Hooy-铁元维生素液-500ml</a></dd>
                    					<dd class="color-red">&yen;118</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5969">
                    							<img src="images/modules/health/basis2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5969">Optimax-宝宝多种维生素加矿物质咀嚼片</a></dd>
                    					<dd class="color-red">&yen;136</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5774">
                    							<img src="images/modules/health/basis3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5774">德国Salus-儿童有机果蔬营养口服液-250ml</a></dd>
                    					<dd class="color-red">&yen;129</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5776">
                    							<img src="images/modules/health/basis4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5776">德国Salus-铁元补铁补血营养片-84粒</a></dd>
                    					<dd class="color-red">&yen;99</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end01 -->
                    
                    <!-- 基础商品楼层 start02 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>女士保养</b><a href="http://www.gojmall.com/wap/list.html?cat_id=828&class=two"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5879">
                    							<img src="images/modules/health/lady1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5879">Jacob Hooy 减脂茶 降低食欲 刺激脂肪燃烧</a></dd>
                    					<dd class="color-red">&yen;49</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5822">
                    							<img src="images/modules/health/lady2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5822">Weleda维蕾德有机催奶茶-20包-盒</a></dd>
                    					<dd class="color-red">&yen;49</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5777">
                    							<img src="images/modules/health/lady3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5777">德国Salus-Floradix-Iron-铁元素-250ml</a></dd>
                    					<dd class="color-red">&yen;98</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5775">
                    							<img src="images/modules/health/lady4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5775">德国Salus-有机综合维生素能量饮-250ml</a></dd>
                    					<dd class="color-red">&yen;129</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end02 -->
                    
                    <!-- 基础商品楼层 start03 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>婴儿营养</b><a href="http://www.gojmall.com/wap/list.html?cat_id=838&class=two"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6095">
                    							<img src="images/modules/health/baby1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6095">Optimax 宝宝/幼儿钙片 </a></dd>
                    					<dd class="color-red">&yen;129</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5774">
                    							<img src="images/modules/health/baby2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5774">德国Salus 儿童有机果蔬营养口服液 250ml</a></dd>
                    					<dd class="color-red">&yen;129</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5919">
                    							<img src="images/modules/health/baby3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5919">法国sterimar小海豚婴儿生理海盐水鼻喷 0-3岁</a></dd>
                    					<dd class="color-red">&yen;56</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5960">
                    							<img src="images/modules/health/baby4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5960">挪威Lifeline Care婴幼儿新生儿宝宝鱼油DHA</a></dd>
                    					<dd class="color-red">&yen;99</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end03 -->
                    
                    <!-- 基础商品楼层 start04 -->
                    <div>
                    	<div class="Hot-product-txt">
                    		<b>长辈健康</b><a href="http://www.gojmall.com/wap/list.html?cat_id=838&class=two"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5860">
                    							<img src="images/modules/health/elder1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5860">Jacob Hooy安神助眠晚安茶 20st</a></dd>
                    					<dd class="color-red">&yen;49</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5865">
                    							<img src="images/modules/health/elder2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5865">Jacob Hooy明目清智保健茶 40st</a></dd>
                    					<dd class="color-red">&yen;65</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6316">
                    							<img src="images/modules/health/elder3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6316">Salus Floradix Iron 绿版铁元素 500ml</a></dd>
                    					<dd class="color-red">&yen;120</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=5778">
                    							<img src="images/modules/health/elder4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=5778">德国Salus Floradix Iron 铁元素 500ml</a></dd>
                    					<dd class="color-red">&yen;149</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end04 -->
				</div>
		