<!DOCTYPE html>
<html lang="en">
 <{require file="block/header_new.html"}>
				<!-- nav -->
      			<div class="main background-white" style="margin-top:6em;">
				
            <!------------- 新增内容部分------------->
                    <div class="banner-d">
                    	<img src="images/modules/luxury/banner3.jpg"/>
                    </div>
					<!--轮播下小广告图 start-->
					<div id="health-img">
						<ul>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=705&class=one">
									<img src="images/modules/luxury/2016-11-26_104308.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=770&class=two">
									<img src="images/modules/luxury/2016-11-26_104431.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=850">
									<img src="images/modules/luxury/2016-11-26_104451.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=811">
									<img src="images/modules/luxury/2016-11-26_104502.png" />
								</a>
							</li>
						</ul>
					</div>
					<!--轮播下小广告图 end-->
                    
                    <!-- sale  热卖区域-->
					<div id="saleM">
						<div class="saleM_l">
							<a href="http://www.myjmall.com/wap/item.html?item_id=6076" target="_blank">
								<img src="images/modules/luxury/1.jpg"/>
							</a>
						</div>
						<div class="saleM_r">
							<ul>
								<li>
									<a href="http://www.myjmall.com/wap/item.html?item_id=6038" target="_blank"><img src="images/modules/luxury/2.jpg"/></a>
								</li>
								<li>
									<a href="http://www.myjmall.com/wap/item.html?item_id=6024" target="_blank"><img src="images/modules/luxury/3.jpg"/></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- sale  热卖区域 END -->
                    
                    <!-- 推荐热品 start -->
                    <div id="Hot-product">
                    	<div class="Hot-product-txt">
                    		<b>推门推荐</b><span>大家都在买</span>
                    	</div>
                    	<div class="Hot-product-img">
                    		<a href="##">
                    			<img src="images/modules/luxury/banner.jpg"/>
                    		</a>
                    	</div>
                    	<div class="Hot-product-pro">
                    		<div class="product-1">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6025">
                    							<img src="images/modules/luxury/recommend1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6025">BURBERR巴宝莉格纹皮革小型包 石色淡紫色</a></dd>
                    					<dd class="color-red">&yen;5868</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6053">
                    							<img src="images/modules/luxury/recommend2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6053">LONGCHAMP 长柄购物包  军蓝色</a></dd>
                    					<dd class="color-red">&yen;798</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-2">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6063">
                    							<img src="images/modules/luxury/recommend3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6063">Michael Kors 手袋</a></dd>
                    					<dd class="color-red">&yen;1399</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6079">
                    							<img src="images/modules/luxury/recommend4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6079">PRADA 手袋   深粉紅</a></dd>
                    					<dd class="color-red">&yen;4998</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-3">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6278">
                    							<img src="images/modules/luxury/recommend5.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6278">青铜古门豪华版青gre unl笔记本</a></dd>
                    					<dd class="color-red">&yen;298</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6069">
                    							<img src="images/modules/luxury/recommend6.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6069">万宝龙Westside系列 短款12卡皮夹 黑色</a></dd>
                    					<dd class="color-red">&yen;1698</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 推荐热品 end -->
                    
                    <!-- 基础商品楼层 start01 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>新品上新</b><a href="http://www.gojmall.com/wap/list.html?cat_id=705&class=one"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6036">
                    							<img src="images/modules/luxury/new1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6036">COACH Bag, #IMITATION GOLD/SADDLE</a></dd>
                    					<dd class="color-red">&yen;2088</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6031">
                    							<img src="images/modules/luxury/new2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6031">COACH 女士單肩斜挎手提餃子包   玫紅色</a></dd>
                    					<dd class="color-red">&yen;2088</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6060">
                    							<img src="images/modules/luxury/new3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6060">LONGCHAMP 折叠双肩背包   粉红色</a></dd>
                    					<dd class="color-red">&yen;558</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6078">
                    							<img src="images/modules/luxury/new4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6078">MICHAEL KORS MK 手袋</a></dd>
                    					<dd class="color-red">&yen;1688</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end01 -->
                    
                    <!-- 基础商品楼层 start02 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>时尚包包</b><a href="http://www.gojmall.com/wap/list.html?cat_id=770&class=two"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6028">
                    							<img src="images/modules/luxury/handbag1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6028">BALENCIAGA 手袋,-#Bleu-Obscur</a></dd>
                    					<dd class="color-red">&yen;8999</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6032">
                    							<img src="images/modules/luxury/handbag2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6032">COACH 女士托特包单肩手提包   黑色</a></dd>
                    					<dd class="color-red">&yen;1688</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6055">
                    							<img src="images/modules/luxury/handbag3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6055">LONGCHAMP 短柄小号折叠包   天蓝色</a></dd>
                    					<dd class="color-red">&yen;468</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6053">
                    							<img src="images/modules/luxury/handbag4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6053">LONGCHAMP 长柄购物包   军蓝色</a></dd>
                    					<dd class="color-red">&yen;798</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end02 -->
                    
                    <!-- 基础商品楼层 start03 -->
                    <div class="border-bottom">
                    	<div class="Hot-product-txt">
                    		<b>精致笔记本</b><a href="http://www.gojmall.com/wap/list.html?cat_id=850"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6275">
                    							<img src="images/modules/health/baby1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6275">GROLIER 格罗里埃装订图案系列笔记本</a></dd>
                    					<dd class="color-red">&yen;238</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6273">
                    							<img src="images/modules/health/baby2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6273">VINT VOGUEPlume翩翩起舞中号羽毛冠女郎</a></dd>
                    					<dd class="color-red">&yen;198</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6260">
                    							<img src="images/modules/health/baby3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6260">仿古皮系列黑摩洛哥7x9ULTRA-UNL 复古记事本</a></dd>
                    					<dd class="color-red">&yen;258</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6277">
                    							<img src="images/modules/health/baby4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6277">蓝猫与花蝴蝶 艺术画作封面笔记本</a></dd>
                    					<dd class="color-red">&yen;138</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end03 -->
                    
                    <!-- 基础商品楼层 start04 -->
                    <div>
                    	<div class="Hot-product-txt">
                    		<b>品质皮饰</b><a href="http://www.gojmall.com/wap/list.html?cat_id=811"><span class="boult">&gt;&gt;</span></a>
                    	</div>
                    	<div class="products">
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6023">
                    							<img src="images/modules/luxury/Dermis1.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6023">BURBERRY巴宝莉格纹皮革双面两用皮带</a></dd>
                    					<dd class="color-red">&yen;1866</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6043">
                    							<img src="images/modules/luxury/Dermis2.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6043">Ferragamo 男士双面可调式皮带  暗红</a></dd>
                    					<dd class="color-red">&yen;1998</dd>
                    				</dl>
                    			</div>
                    		</div>
                    		<div class="product-4">
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6075">
                    							<img src="images/modules/luxury/Dermis4.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6075">万宝龙皮带 经典系列矩形扣针式皮带</a></dd>
                    					<dd class="color-red">&yen;1188</dd>
                    				</dl>
                    			</div>
                    			<div class="lt">
                    				<dl>
                    					<dt>
                    						<a href="http://www.myjmall.com/wap/item.html?item_id=6071">
                    							<img src="images/modules/luxury/Dermis3.jpg"/>
                    						</a>
                    					</dt>
                    					<dd><a href="http://www.myjmall.com/wap/item.html?item_id=6071">万宝龙 星际行者系列签字笔＋名片夹套装</a></dd>
                    					<dd class="color-red">&yen;2688</dd>
                    				</dl>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <!-- 基础商品楼层 end04 -->
				</div>
		