</div>
<div id="index" class="zhuanti">


			<div><img src="images/shuang12_01.jpg" /></div>
            <div><img src="images/shuang12_02.jpg" usemap="#Map002" border="0" />
              <map name="Map002" id="Map002">
                <area shape="rect" coords="463,186,962,576" href="http://www.gojmall.com/item.html?item_id=5668" target="_blank" />
                <area shape="rect" coords="967,186,1460,579" href="http://www.gojmall.com/item.html?item_id=5757" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_03.jpg" usemap="#Map004" border="0" />
              <map name="Map004" id="Map004">
                <area shape="rect" coords="754,98,1470,410" href="http://www.gojmall.com/item.html?item_id=5883" target="_blank" />
                <area shape="rect" coords="442,414,1163,719" href="http://www.gojmall.com/item.html?item_id=5814" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_04.jpg" usemap="#Map006" border="0" />
              <map name="Map006" id="Map006">
                <area shape="rect" coords="474,160,951,510" href="http://www.gojmall.com/item.html?item_id=5874" target="_blank" />
                <area shape="rect" coords="961,160,1455,515" href="http://www.gojmall.com/item.html?item_id=5941" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_05.jpg" usemap="#Map009" border="0" />
              <map name="Map009" id="Map009">
                <area shape="rect" coords="465,133,786,539" href="http://www.gojmall.com/item.html?item_id=6346" target="_blank" />
                <area shape="rect" coords="793,134,1126,537" href="http://www.gojmall.com/item.html?item_id=5685" target="_blank" />
                <area shape="rect" coords="1135,133,1453,536" href="http://www.gojmall.com/item.html?item_id=5693" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_06.jpg" usemap="#Map012" border="0" />
              <map name="Map012" id="Map012">
                <area shape="rect" coords="473,13,788,415" href="http://www.gojmall.com/item.html?item_id=6201" target="_blank" />
                <area shape="rect" coords="804,12,1117,414" href="http://www.gojmall.com/item.html?item_id=5843" target="_blank" />
                <area shape="rect" coords="1137,12,1457,413" href="http://www.gojmall.com/item.html?item_id=6219" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_07.jpg" usemap="#Map015" border="0" />
              <map name="Map015" id="Map015">
                <area shape="rect" coords="474,8,785,409" href="http://www.gojmall.com/item.html?item_id=5915" target="_blank" />
                <area shape="rect" coords="806,7,1114,408" href="http://www.gojmall.com/item.html?item_id=5795" target="_blank" />
                <area shape="rect" coords="1138,10,1449,409" href="http://www.gojmall.com/item.html?item_id=5916" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_08.jpg" usemap="#Map018" border="0" />
              <map name="Map018" id="Map018">
                <area shape="rect" coords="477,162,782,571" href="http://www.gojmall.com/item.html?item_id=6316" target="_blank" />
                <area shape="rect" coords="801,162,1113,570" href="http://www.gojmall.com/item.html?item_id=6095" target="_blank" />
                <area shape="rect" coords="1132,164,1448,573" href="http://www.gojmall.com/item.html?item_id=5778" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_09.jpg" usemap="#Map0122" border="0" />
              <map name="Map0122" id="Map0122">
                <area shape="rect" coords="476,15,782,409" href="http://www.gojmall.com/item.html?item_id=6076" target="_blank" />
                <area shape="rect" coords="803,15,1115,413" href="http://www.gojmall.com/item.html?item_id=6078" target="_blank" />
                <area shape="rect" coords="1133,15,1448,414" href="http://www.gojmall.com/item.html?item_id=6069" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang12_10.jpg" /></div>
            
            
	
</div><div><div>