</div>
<div id="index" class="zhuanti">


			<div><img src="images/shuang11_01.jpg" /></div>
            <div><img src="images/shuang11_02.jpg" /></div>
            <div><img src="images/shuang11_03.jpg" usemap="#Map005" border="0" />
              <map name="Map005" id="Map005">
                <area shape="rect" coords="450,19,941,374" href="http://www.myjmall.com/item.html?item_id=6349" target="_blank" />
                <area shape="rect" coords="979,22,1480,377" href="http://www.myjmall.com/item.html?item_id=6350" target="_blank" />
                <area shape="rect" coords="413,389,761,675" href="http://www.myjmall.com/item.html?item_id=6351" target="_blank" />
                <area shape="rect" coords="779,393,1145,680" href="http://www.myjmall.com/item.html?item_id=6352" target="_blank" />
                <area shape="rect" coords="1162,393,1525,680" href="http://www.myjmall.com/item.html?item_id=6353" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_04.jpg" /></div>
            <div><img src="images/shuang11_05.jpg" usemap="#Map011" border="0" />
              <map name="Map011" id="Map011">
                <area shape="rect" coords="391,15,847,249" href="http://www.myjmall.com/item.html?item_id=6382" target="_blank" />
                <area shape="rect" coords="854,14,1292,247" href="http://www.myjmall.com/item.html?item_id=6383" target="_blank" />
                <area shape="rect" coords="1299,13,1532,276" href="http://www.myjmall.com/item.html?item_id=6384" target="_blank" />
                <area shape="rect" coords="392,256,846,556" href="http://www.myjmall.com/item.html?item_id=6387" target="_blank" />
                <area shape="rect" coords="854,256,1296,555" href="http://www.myjmall.com/item.html?item_id=6386" target="_blank" />
                <area shape="rect" coords="1302,282,1534,555" href="http://www.myjmall.com/item.html?item_id=6385" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_06.jpg" usemap="#Map017" border="0" />
              <map name="Map017" id="Map017">
                <area shape="rect" coords="399,61,700,393" href="http://www.myjmall.com/item.html?item_id=6364" target="_blank" />
                <area shape="rect" coords="746,74,1134,345" href="http://www.myjmall.com/item.html?item_id=6365" target="_blank" />
                <area shape="rect" coords="1155,81,1529,343" href="http://www.myjmall.com/item.html?item_id=6366" target="_blank" />
                <area shape="rect" coords="402,413,803,662" href="http://www.myjmall.com/item.html?item_id=6368" target="_blank" />
                <area shape="rect" coords="815,354,1164,618" href="http://www.myjmall.com/item.html?item_id=6367" target="_blank" />
                <area shape="rect" coords="1175,357,1532,616" href="http://www.myjmall.com/item.html?item_id=6369" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_07.jpg" usemap="#Map020" border="0" />
              <map name="Map020" id="Map020">
                <area shape="rect" coords="424,72,692,428" href="http://www.myjmall.com/item.html?item_id=6361" target="_blank" />
                <area shape="rect" coords="711,233,984,648" href="http://www.myjmall.com/item.html?item_id=6362" target="_blank" />
                <area shape="rect" coords="998,85,1511,603" href="http://www.myjmall.com/item.html?item_id=6363" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_08.jpg" usemap="#Map024" border="0" />
              <map name="Map024" id="Map024">
                <area shape="rect" coords="408,76,650,487" href="http://www.myjmall.com/item.html?item_id=6381" target="_blank" />
                <area shape="rect" coords="682,230,934,654" href="http://www.myjmall.com/item.html?item_id=6380" target="_blank" />
                <area shape="rect" coords="965,88,1227,522" href="http://www.myjmall.com/item.html?item_id=6378" target="_blank" />
                <area shape="rect" coords="1250,183,1497,648" href="http://www.myjmall.com/item.html?item_id=6379" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_09.jpg" usemap="#Map027" border="0" />
              <map name="Map027" id="Map027">
                <area shape="rect" coords="420,59,699,386" href="http://www.myjmall.com/item.html?item_id=6358" target="_blank" />
                <area shape="rect" coords="803,66,1127,381" href="http://www.myjmall.com/item.html?item_id=6359" target="_blank" />
                <area shape="rect" coords="1205,57,1521,382" href="http://www.myjmall.com/item.html?item_id=6360" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_10.jpg" usemap="#Map030" border="0" />
              <map name="Map030" id="Map030">
                <area shape="rect" coords="412,83,767,556" href="http://www.myjmall.com/item.html?item_id=6354" target="_blank" />
                <area shape="rect" coords="797,84,1151,555" href="http://www.myjmall.com/item.html?item_id=6355" target="_blank" />
                <area shape="rect" coords="1162,86,1505,546" href="http://www.myjmall.com/item.html?item_id=6356" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_11.jpg" usemap="#Map033" border="0" />
              <map name="Map033" id="Map033">
                <area shape="rect" coords="414,51,770,525" href="http://www.myjmall.com/item.html?item_id=6377" target="_blank" />
                <area shape="rect" coords="782,58,1087,523" href="http://www.myjmall.com/item.html?item_id=6376" target="_blank" />
                <area shape="rect" coords="1116,56,1446,526" href="http://www.myjmall.com/item.html?item_id=6375" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_12.jpg" usemap="#Map034" border="0" />
              <map name="Map034" id="Map034">
                <area shape="rect" coords="674,147,1238,399" href="http://www.myjmall.com/item.html?item_id=6372" target="_blank" />
              </map>
            </div>
            <div><img src="images/shuang11_13.jpg" usemap="#Map038" border="0" />
              <map name="Map038" id="Map038">
                <area shape="rect" coords="402,118,959,517" href="http://www.myjmall.com/item.html?item_id=6373" target="_blank" />
                <area shape="rect" coords="984,120,1554,517" href="http://www.myjmall.com/item.html?item_id=6374" target="_blank" />
                <area shape="rect" coords="594,763,892,821" href="http://www.myjmall.com/shuang11.html" target="new" />
                <area shape="rect" coords="981,767,1274,822" href="http://www.myjmall.com/" target="_blank" />
              </map>
            </div>
            
            
	
</div><div><div>