</div>
<script src="images/modules/shengdanjie/jquery-2.2.4.js"></script>
<script src="images/modules/shengdanjie/snow.js"></script>
<div id="index" class="zhuanti">


			<div><img src="images/modules/xinnian/xinnian_01.jpg" /></div>
            <div><img src="images/modules/xinnian/xinnian_02.jpg" /></div>
            <div><img src="images/modules/xinnian/xinnian_03.jpg" usemap="#Map003" border="0" />
              <map name="Map003" id="Map003">
                <area shape="rect" coords="504,32,804,357" href="http://www.gojmall.com/item.html?item_id=5983" target="_blank" />
                <area shape="rect" coords="808,32,1110,357" href="http://www.gojmall.com/item.html?item_id=5814" target="_blank" />
                <area shape="rect" coords="1114,31,1423,361" href="http://www.gojmall.com/item.html?item_id=6344" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_04.jpg" usemap="#Map006" border="0" />
              <map name="Map006" id="Map006">
                <area shape="rect" coords="505,4,803,318" href="http://www.gojmall.com/item.html?item_id=5704" target="_blank" />
                <area shape="rect" coords="807,6,1111,321" href="http://www.gojmall.com/item.html?item_id=5912" target="_blank" />
                <area shape="rect" coords="1115,7,1417,319" href="http://www.gojmall.com/item.html?item_id=6226" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_05.jpg" usemap="#Map009" border="0" />
              <map name="Map009" id="Map009">
                <area shape="rect" coords="502,3,807,325" href="http://www.gojmall.com/item.html?item_id=5699" target="_blank" />
                <area shape="rect" coords="809,4,1111,326" href="http://www.gojmall.com/item.html?item_id=5820" target="_blank" />
                <area shape="rect" coords="1114,3,1422,335" href="http://www.gojmall.com/item.html?item_id=5843" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_06.jpg" usemap="#Map012" border="0" />
              <map name="Map012" id="Map012">
                <area shape="rect" coords="502,3,807,321" href="http://www.gojmall.com/item.html?item_id=5940" target="_blank" />
                <area shape="rect" coords="811,3,1113,324" href="http://www.gojmall.com/item.html?item_id=5852" target="_blank" />
                <area shape="rect" coords="1116,3,1420,317" href="http://www.gojmall.com/item.html?item_id=5910" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_07.jpg" usemap="#Map015" border="0" />
              <map name="Map015" id="Map015">
                <area shape="rect" coords="502,3,806,322" href="http://www.gojmall.com/item.html?item_id=5778" target="_blank" />
                <area shape="rect" coords="809,6,1112,320" href="http://www.gojmall.com/item.html?item_id=5975" target="_blank" />
                <area shape="rect" coords="1116,5,1419,318" href="http://www.gojmall.com/item.html?item_id=5750" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_08.jpg" usemap="#Map018" border="0" />
              <map name="Map018" id="Map018">
                <area shape="rect" coords="498,13,806,342" href="http://www.gojmall.com/item.html?item_id=5935" target="_blank" />
                <area shape="rect" coords="811,15,1115,351" href="http://www.gojmall.com/item.html?item_id=5825" target="_blank" />
                <area shape="rect" coords="1118,17,1421,353" href="http://www.gojmall.com/item.html?item_id=5958" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_09.jpg" usemap="#Map021" border="0" />
              <map name="Map021" id="Map021">
                <area shape="rect" coords="497,4,805,323" href="http://www.gojmall.com/item.html?item_id=6206" target="_blank" />
                <area shape="rect" coords="808,6,1112,322" href="http://www.gojmall.com/item.html?item_id=6214" target="_blank" />
                <area shape="rect" coords="1116,8,1426,323" href="http://www.gojmall.com/item.html?item_id=6328" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_10.jpg" usemap="#Map024" border="0" />
              <map name="Map024" id="Map024">
                <area shape="rect" coords="498,24,805,342" href="http://www.gojmall.com/item.html?item_id=5955" target="_blank" />
                <area shape="rect" coords="810,24,1115,346" href="http://www.gojmall.com/item.html?item_id=5916" target="_blank" />
                <area shape="rect" coords="1120,25,1421,354" href="http://www.gojmall.com/item.html?item_id=5927" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_11.jpg" usemap="#Map027" border="0" />
              <map name="Map027" id="Map027">
                <area shape="rect" coords="498,4,808,330" href="http://www.gojmall.com/item.html?item_id=5914" target="_blank" />
                <area shape="rect" coords="812,5,1113,343" href="http://www.gojmall.com/item.html?item_id=6313" target="_blank" />
                <area shape="rect" coords="1116,7,1424,331" href="http://www.gojmall.com/item.html?item_id=5896" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_12.jpg" usemap="#Map030" border="0" />
              <map name="Map030" id="Map030">
                <area shape="rect" coords="499,4,806,315" href="http://www.gojmall.com/item.html?item_id=5774" target="_blank" />
                <area shape="rect" coords="808,5,1112,312" href="http://www.gojmall.com/item.html?item_id=5776" target="_blank" />
                <area shape="rect" coords="1116,7,1423,317" href="http://www.gojmall.com/item.html?item_id=6095" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_13.jpg" usemap="#Map033" border="0" />
              <map name="Map033" id="Map033">
                <area shape="rect" coords="501,27,805,349" href="http://www.gojmall.com/item.html?item_id=6078" target="_blank" />
                <area shape="rect" coords="808,28,1112,360" href="http://www.gojmall.com/item.html?item_id=6053" target="_blank" />
                <area shape="rect" coords="1116,27,1421,348" href="http://www.gojmall.com/item.html?item_id=6068" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_14.jpg" usemap="#Map036" border="0" />
              <map name="Map036" id="Map036">
                <area shape="rect" coords="502,6,807,323" href="http://www.gojmall.com/item.html?item_id=6072" target="_blank" />
                <area shape="rect" coords="811,7,1109,321" href="http://www.gojmall.com/item.html?item_id=6048" target="_blank" />
                <area shape="rect" coords="1115,8,1420,318" href="http://www.gojmall.com/item.html?item_id=6069" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/xinnian/xinnian_15.jpg" usemap="#Map038" border="0" />
              <map name="Map038" id="Map038">
                <area shape="rect" coords="755,49,934,103" href="http://www.gojmall.com/" target="_blank" />
                <area shape="rect" coords="957,51,1137,102" href="#" target="_blank" />
              </map>
            </div>
            
            

</div><div><div>