</div>
<div id="index" class="zhuanti">


			<div><img src="images/1meizhuang_01.jpg" /></div>
            <div><img src="images/1meizhuang_02.jpg" /></div>
            <div><img src="images/1meizhuang_03.jpg" /></div>
            <div><img src="images/1meizhuang_04.jpg" usemap="#Map004" border="0" />
              <map name="Map004" id="Map004">
                <area shape="rect" coords="784,4,1157,296" href="http://www.myjmall.com/item.html?item_id=5834" target="_blank" />
                <area shape="rect" coords="380,109,718,413" href="http://www.myjmall.com/item.html?item_id=5848" target="_blank" />
                <area shape="rect" coords="1177,280,1596,491" href="http://www.myjmall.com/item.html?item_id=5846" target="_blank" />
                <area shape="rect" coords="721,427,1134,669" href="http://www.myjmall.com/item.html?item_id=5842" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_05.jpg" usemap="#Map007" border="0" />
              <map name="Map007" id="Map007">
                <area shape="rect" coords="349,4,679,252" href="http://www.myjmall.com/item.html?item_id=5870" target="_blank" />
                <area shape="rect" coords="682,245,1092,455" href="http://www.myjmall.com/item.html?item_id=5874" target="_blank" />
                <area shape="rect" coords="1134,21,1595,254" href="http://www.myjmall.com/item.html?item_id=5904" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_06.jpg" /></div>
            <div><img src="images/1meizhuang_07.jpg" usemap="#Map010" border="0" />
              <map name="Map010" id="Map010">
                <area shape="rect" coords="383,8,721,332" href="http://www.myjmall.com/item.html?item_id=5881" target="_blank" />
                <area shape="rect" coords="739,8,1154,335" href="http://www.myjmall.com/item.html?item_id=5896" target="_blank" />
                <area shape="rect" coords="1162,7,1557,335" href="http://www.myjmall.com/item.html?item_id=5912" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_08.jpg" usemap="#Map012" border="0" />
              <map name="Map012" id="Map012">
                <area shape="rect" coords="521,11,959,341" href="http://www.myjmall.com/item.html?item_id=5915" target="_blank" />
                <area shape="rect" coords="977,10,1423,342" href="http://www.myjmall.com/item.html?item_id=5917" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_09.jpg" usemap="#Map015" border="0" />
              <map name="Map015" id="Map015">
                <area shape="rect" coords="403,10,759,335" href="http://www.myjmall.com/item.html?item_id=5921" target="_blank" />
                <area shape="rect" coords="770,9,1140,334" href="http://www.myjmall.com/item.html?item_id=5925" target="_blank" />
                <area shape="rect" coords="1154,9,1529,336" href="http://www.myjmall.com/item.html?item_id=5927" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_10.jpg" usemap="#Map017" border="0" />
              <map name="Map017" id="Map017">
                <area shape="rect" coords="465,17,914,352" href="http://www.myjmall.com/item.html?item_id=5930" target="_blank" />
                <area shape="rect" coords="936,18,1453,352" href="http://www.myjmall.com/item.html?item_id=5934" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_11.jpg" usemap="#Map018" border="0" />
              <map name="Map018" id="Map018">
                <area shape="rect" coords="1193,442,1517,672" href="http://www.myjmall.com/item.html?item_id=5795" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_12.jpg" usemap="#Map020" border="0" />
              <map name="Map020" id="Map020">
                <area shape="rect" coords="390,7,758,289" href="http://www.myjmall.com/item.html?item_id=5796" target="_blank" />
                <area shape="rect" coords="835,4,1232,254" href="http://www.myjmall.com/item.html?item_id=5694" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_13.jpg" usemap="#Map023" border="0" />
              <map name="Map023" id="Map023">
                <area shape="rect" coords="1227,6,1608,208" href="http://www.myjmall.com/item.html?item_id=5885" target="_blank" />
                <area shape="rect" coords="452,100,763,416" href="http://www.myjmall.com/item.html?item_id=5888" target="_blank" />
                <area shape="rect" coords="807,103,1216,442" href="http://www.myjmall.com/item.html?item_id=5894" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_14.jpg" usemap="#Map026" border="0" />
              <map name="Map026" id="Map026">
                <area shape="rect" coords="444,75,782,405" href="http://www.myjmall.com/item.html?item_id=5920" target="_blank" />
                <area shape="rect" coords="812,78,1170,396" href="http://www.myjmall.com/item.html?item_id=5926" target="_blank" />
                <area shape="rect" coords="1229,4,1596,250" href="http://www.myjmall.com/item.html?item_id=5729" target="_blank" />
              </map>
            </div>
            <div><img src="images/1meizhuang_15.jpg" /></div>
            
	
</div><div><div>