<div id="takegoods_dialog" style="" class="takegoods-dialog">
<ul>
  <li class="form-item" style="font-size: 19px;font-family: '微软雅黑';">
	&nbsp;&nbsp;为了您更好地选择境外物品，请您在下单前务必认真详细阅读并完全理解本告知书相关内容，对自身风险作出客观判断，完全同意本告知书内容后再下单
	<br/>
	<br/>
	<h2 align = "center" style = "font-weight:bolder">消费者告知书</h2>
	<br/>
			&nbsp;&nbsp;1.您通过本网站购买的所有境外物品等同于境外购买。<br/><br/>
			&nbsp;&nbsp;2.您购买的所有境外物品适用的品质、健康、安全、卫生、环保、标示等项目标准可能与我国质量安全标准不同，由此可能产生的危害或损失以及法律责任或其他风险，将由您个人承担。
			<br/><br/>
			&nbsp;&nbsp;3.您通过跨境电商平台购买的境外物品可能无中文标签或说明书，请在下单前认真阅读平台提供的物品信息。
			<br/><br/>
			&nbsp;&nbsp;4.建议您对境外物品有一定了解并评估是否适合自己使用后再下单，感谢您的配合。
  </li>
</ul>
</div>