	<style>
			img{width: 100%;}
			.pic{display: block;width: 48%;float: left;}
			.floor01:after{display: block;content: '.';height: 0;visibility: hidden;clear: both;}
	</style>
	<div class="main" style="line-height:0px;margin-top:6em;">
		<{require file="block/header_new.html"}>
		<div>
			<a href="##">
				<img src="images/modules/2017shuang11/17shuangshiyi_01.jpg"/>
			</a>
		</div>

		<div>
			<div>
					<a href="##">
						<img src="images/modules/2017shuang11/17shuangshiyi_02.jpg"/>
					</a>
			</div>

			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">
						<a href="http://www.gojmall.com/wap/item.html?item_id=7811" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_03.jpg"/>
						</a>
			
						<a href="http://www.gojmall.com/wap/item.html?item_id=6344" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_04.jpg"/>
						</a>
				</div>
			</div>

			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">
						<a href="http://www.gojmall.com/wap/item.html?item_id=7342" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_05.jpg"/>
						</a>
						
						<a href="http://www.gojmall.com/wap/item.html?item_id=7877" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_06.jpg"/>			
						</a>
				</div>
			</div>

			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">

						<a href="http://www.gojmall.com/wap/list.html?n=%E8%8A%B1%E7%94%9F%E8%B1%86" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_07.jpg"/>			
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=7111" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_08.jpg"/>
						</a>
				</div>	
			</div>

			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">
						
						<a href="http://www.gojmall.com/wap/list.html?n=7M%E7%87%95%E9%BA%A6" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_09.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/list.html?n=%E5%8D%A1%E4%B9%90%E7%BE%8E" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_10.jpg"/>
						</a>
				</div>	
			</div>

			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">						
					<img src="images/modules/2017shuang11/17shuangshiyi_11.jpg"/>
				</div>	
			</div>
			
			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">
						<a href="http://www.gojmall.com/wap/list.html?n=%E9%A3%9F%E4%B9%90%E4%BD%B3" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_12.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=7149" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_13.jpg"/>
						</a>
				</div>	
			</div>

			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">
						<a href="http://www.gojmall.com/wap/list.html?n=%E5%98%89%E4%BA%91" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_14.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5988" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_15.jpg"/>
						</a>
				</div>	
			</div>

			<div style="display: -webkit-box">
				<div class="" style="-webkit-box-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;box-flex: 1;width: 78%;">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5750" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_16.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=7817" class="pic">
							<img src="images/modules/2017shuang11/17shuangshiyi_17.jpg"/>
						</a>
				</div>	
			</div>
			
				
			<div>
				<div>
					<a href="http://www.gojmall.com/wap"><img src="images/modules/2017shuang11/17shuangshiyi_18.jpg"/></a>
				</div>
			</div>

	 </div>
</div>