	<style>
			img{width: 100%;}
			.pic{display: block;width: 50%;float: left;}
			.floor01:after{display: block;content: '.';height: 0;visibility: hidden;clear: both;}
	</style>
	<div class="main" style="line-height:0px;margin-top:6em;">
		<{require file="block/header_new.html"}>
		<div>
			<a href="##">
				<img src="images/modules/Christmas/banner.gif"/>
			</a>
		</div>
			<div>
				<div>
					<div class="floor01">
						<a href="http://www.gojmall.com/wap/item.html?item_id=6219" class="pic">
							<img src="images/modules/Christmas/Christmas01.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6222" class="pic">
							<img src="images/modules/Christmas/Christmas02.gif"/>
						</a>
					</div>
				</div>
				<div>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5721" class="pic">
							<img src="images/modules/Christmas/Christmas03.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6336" class="pic">
							<img src="images/modules/Christmas/Christmas04.gif"/>
						</a>
					</div>
				</div>
				<div>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=6201" class="pic">
							<img src="images/modules/Christmas/Christmas05.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6344" class="pic">
							<img src="images/modules/Christmas/Christmas06.gif"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/modules/Christmas/Christmas07.gif"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5920" class="pic">
							<img src="images/modules/Christmas/Christmas08.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5910" class="pic">
							<img src="images/modules/Christmas/Christmas09.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5912" class="pic">
							<img src="images/modules/Christmas/Christmas10.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5778" class="pic">
							<img src="images/modules/Christmas/Christmas11.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5776" class="pic">
							<img src="images/modules/Christmas/Christmas12.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6053" class="pic">
							<img src="images/modules/Christmas/Christmas13.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6025" class="pic">
							<img src="images/modules/Christmas/Christmas14.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6045" class="pic">
							<img src="images/modules/Christmas/Christmas15.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6027" class="pic">
							<img src="images/modules/Christmas/Christmas16.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6078" class="pic">
							<img src="images/modules/Christmas/Christmas17.gif"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/modules/Christmas/Christmas18.gif"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5814" class="pic">
							<img src="images/modules/Christmas/Christmas19.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5685" class="pic">
							<img src="images/modules/Christmas/Christmas20.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5940" class="pic">
							<img src="images/modules/Christmas/Christmas21.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5665" class="pic">
							<img src="images/modules/Christmas/Christmas22.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5917" class="pic">
							<img src="images/modules/Christmas/Christmas23.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5941" class="pic">
							<img src="images/modules/Christmas/Christmas24.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5975" class="pic">
							<img src="images/modules/Christmas/Christmas25.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5773" class="pic">
							<img src="images/modules/Christmas/Christmas26.gif"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/modules/Christmas/Christmas27.jpg"/>
				</div>
			</div>
	</div>

</body>
</html>
