	<style>
			img{width: 100%;}
			.pic{display: block;width: 50%;float: left;}
			.floor01:after{display: block;content: '.';height: 0;visibility: hidden;clear: both;}
	</style>
	<div class="main" style="line-height:0px;margin-top:6em;">
		<{require file="block/header_new.html"}>
		<div>
			<a href="##">
				<img src="images/shuang12/banner.jpg"/>
			</a>
		</div>
			<div>
				<div>
					<img src="images/shuang12/lingshi.jpg"/>
					<div class="floor01">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5668" class="pic">
							<img src="images/shuang12/songyi01.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5757" class="pic">
							<img src="images/shuang12/songyi02.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/shuang12/naifen.gif"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5883" class="pic">
							<img src="images/shuang12/baoyou01.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5814" class="pic">
							<img src="images/shuang12/baoyou02.gif"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/shuang12/hufu.gif"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5874" class="pic">
							<img src="images/shuang12/song01.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5941" class="pic">
							<img src="images/shuang12/song02.gif"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/shuang12/jingxuan.gif"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=6346" class="pic">
							<img src="images/shuang12/jingxuan06.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5685" class="pic">
							<img src="images/shuang12/jingxuan07.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6201" class="pic">
							<img src="images/shuang12/jingxuan08.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5843" class="pic">
							<img src="images/shuang12/jingxuan09.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5915" class="pic">
							<img src="images/shuang12/jingxuan10.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5916" class="pic">
							<img src="images/shuang12/jingxuan11.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6316" class="pic">
							<img src="images/shuang12/jingxuan02.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6095" class="pic">
							<img src="images/shuang12/jingxuan03.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6076" class="pic">
							<img src="images/shuang12/jingxuan04.gif"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6078" class="pic">
							<img src="images/shuang12/jingxuan05.gif"/>
						</a>
					</div>
					<div>
						<img src="images/shuang12/gengduo.gif"/>
					</div>
					<div>
						<img src="images/shuang12/blue.gif"/>
					</div>
				</div>
			</div>
	</div>






</body>
</html>
