
<!-- header -->
    <header style="height: 80px;position: relative;">
	    	<!--Logo-->
		      <div style="margin: 1% 0 0 5%;" class="hd-logo">
		        <!--{widgets id="wap_logo"}-->
		        <a style="width: initial;padding: 0;"  href="<{url action=topm_ctl_default@index}>" class="logo" title="">
				    <img alt="logo" src="../images/index/2016-11-01_091505.png">
				</a>
		      </div>
	       <!--Logo END-->
	       <!--search-->
		      <div class="hd-search">
		        <!--{widgets id="wap_search"}-->
		        <form action="<{url action=topm_ctl_search@index}>" method="post" id="goods_search">
				  <input type="text" name="keyword" placeholder="寻找商品、店铺">
				  <button> <i class="icon icon-search"></i> </button>
				</form>
		      </div>
		    <!--search-->
		    <!--menu-->
		      <div class="hd-menu" style="top: 8px;">
		        <!--{widgets id="wap_catlist"}-->
		        <a class="ui-btn icon" href="javascript:void(0)" id="hd-menu-btn">
				  <!--<img src="../images/2016-11-01_155321.png">-->
				   <i class="icon icon-menu-btn" style="color: #6c1681;"></i>
				</a>
		      </div>
      	<!--menu-->
      	<style>
      	    .liping-d{position: absolute;top: 70px;left: 0;width: 100%;background: #fff;height: 45px;line-height: 45px;margin-top: 5px;border-top: 2px solid #d1d1d1;}
      	    .liping-d:after{content: '.';height: 0;display: block;clear: both;visibility: hidden;}
      		.liping-ul:after{content: '.';height: 0;display: block;clear: both;visibility: hidden;}
      		.liping-ul li{float: left;width: 20%;text-align: center;}
      		.liping-ul a{font-size: 18px;}
      	</style>
      	      <div class="liping-d">
      	      	<ul class="liping-ul">
      	      		<li><a href="#">母嬰</a></li>
      	      		<li><a href="#">美食</a></li>
      	      		<li><a href="#">保健</a></li>
      	      		<li><a href="#">美妝</a></li>
      	      		<li><a href="#">轻奢</a></li>
      	      	</ul>
      	      </div>
      
      	
	</header>
<!--main margin-top:6.7em-->

		<link rel="stylesheet" href="http://www.mjm.net/themes/demo/images/index.css">
	<!-- header -->
		<div class="home" style="width: 1080px;margin: 0 auto;">

				<!-- nav -->
				<div class="main" style="margin-top: 2em;">

            <!------------- 新增内容部分------------->
                    <div class="banner-d">
                    	<img style="width: 100%;" src="images/modules/baby/banner1.jpg"/>
                    </div>
					
					<!--轮播下小广告图 start-->
					<div id="health-img">
						<ul>
							<li>
								<a href="http://www.myjmall.com/wap/list.html?cat_id=782&class=two">
									<img src="images/modules/baby/2016-11-23_164207.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=783&class=two">
									<img src="images/modules/baby/2016-11-23_164247.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=784&class=two">
									<img src="images/modules/baby/2016-11-23_164315.png" />
								</a>
							</li>
							<li>
								<a href="http://www.gojmall.com/wap/list.html?cat_id=783&class=two">
									<img src="images/modules/baby/2016-11-23_164331.png" />
								</a>
							</li>
						</ul>
					</div>
					<!--轮播下小广告图 end-->
					
					<div id="floor">
						<div class="floor-txt">
							<span>母婴热销榜</span>
						</div>
						<div class="floor-pic">
							<ul class="pic-ul">
								<li>
									<dl>
										<dt>
											<a href="##" target="_blank"><img src="images/ceshi.jpg"/></a>
										</dt>
										<dd class="pic-txt">
											<a href="##" target="_blank">荷兰Herobaby美素婴幼儿奶粉1段荷兰Herobaby美素婴荷兰Hero</a>
										</dd>
										<dd class="pic-div">
											<div class="pic-div1">
												<p>&yen;99</p>
												<span>扫码购买</span>
											</div>
											<div class="pic-div2">
												<img src="images/ceshi-1.png"/>
											</div>
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>
											<a href="##" target="_blank"><img src="images/ceshi.jpg"/></a>
										</dt>
										<dd class="pic-txt">
											<a href="##" target="_blank">荷兰Herobaby美素婴幼儿奶粉1段</a>
										</dd>
										<dd class="pic-div">
											<div class="pic-div1">
												<p>&yen;99</p>
												<span>扫码购买</span>
											</div>
											<div class="pic-div2">
												<img src="images/ceshi-1.png"/>
											</div>
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>
											<a href="##" target="_blank"><img src="images/ceshi.jpg"/></a>
										</dt>
										<dd class="pic-txt">
											<a href="##" target="_blank">荷兰Herobaby美素婴幼儿奶粉1段</a>
										</dd>
										<dd class="pic-div">
											<div class="pic-div1">
												<p>&yen;99</p>
												<span>扫码购买</span>
											</div>
											<div class="pic-div2">
												<img src="images/ceshi-1.png"/>
											</div>
										</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
					
					<div id="floor">
						<div class="floor-pic">
							<ul class="pic-ul">
								<li>
									<dl>
										<dt>
											<a href="##" target="_blank"><img src="images/ceshi.jpg"/></a>
										</dt>
										<dd class="pic-txt">
											<a href="##" target="_blank">荷兰Herobaby美素婴幼儿奶粉1段荷兰H素婴幼儿奶粉1段荷兰Herobaby素婴幼儿奶粉1段荷兰H美素婴荷兰Hero</a>
										</dd>
										<dd class="pic-div">
											<div class="pic-div1">
												<p>&yen;99</p>
												<span>扫码购买</span>
											</div>
											<div class="pic-div2">
												<img src="images/ceshi-1.png"/>
											</div>
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>
											<a href="##" target="_blank"><img src="images/ceshi.jpg"/></a>
										</dt>
										<dd class="pic-txt">
											<a href="##" target="_blank">荷兰Herobaby美素婴幼儿奶粉1段</a>
										</dd>
										<dd class="pic-div">
											<div class="pic-div1">
												<p>&yen;99</p>
												<span>扫码购买</span>
											</div>
											<div class="pic-div2">
												<img src="images/ceshi-1.png"/>
											</div>
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>
											<a href="##" target="_blank"><img src="images/ceshi.jpg"/></a>
										</dt>
										<dd class="pic-txt">
											<a href="##" target="_blank">荷兰Herobaby美素婴幼儿奶粉1段</a>
										</dd>
										<dd class="pic-div">
											<div class="pic-div1">
												<p>&yen;99</p>
												<span>扫码购买</span>
											</div>
											<div class="pic-div2">
												<img src="images/ceshi-1.png"/>
											</div>
										</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
					
	</body>

</html>