	<style>
			img{width: 100%;}
			.pic{display: block;width: 50%;float: left;}
			.floor01:after{display: block;content: '.';height: 0;visibility: hidden;clear: both;}
	</style>
	<div class="main" style="line-height:0px;margin-top:6em;">
		<{require file="block/header_new.html"}>
		<div>
			<a href="">
				<img src="images/modules/love2017/banner.jpg"/>
			</a>
		</div>
			<div>
				<div>
					<img src="images/modules/love2017/love2017-2.jpg"/>
					<div class="floor01">
						<a href="http://www.gojmall.com/wap/item.html?item_id=7229" class="pic">
							<img src="images/modules/love2017/love2017-3.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=7230" class="pic">
							<img src="images/modules/love2017/love2017-4.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=7233" class="pic">
							<img src="images/modules/love2017/love2017-5.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=7231" class="pic">
							<img src="images/modules/love2017/love2017-6.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=7232" class="pic">
							<img src="images/modules/love2017/love2017-7.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=7234" class="pic">
							<img src="images/modules/love2017/love2017-8.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<div>
						<a href="http://www.mjm.net/wap">
							<img src="images/modules/love2017/love2017-9.jpg" style="position: relative;top:-4px;"/>
						</a>
					</div>
				</div>
			</div>
	</div>






</body>
</html>
