	<style>
			img{width: 100%;}
			.pic{display: block;width: 50%;float: left;}
			.floor01:after{display: block;content: '.';height: 0;visibility: hidden;clear: both;}
	</style>
	<div class="main" style="line-height:0px;margin-top:6em;">
		<{require file="block/header_new.html"}>
		<div>
			<a href="##">
				<img src="images/modules/new_year/banner.jpg"/>
			</a>
		</div>
			<div>
				<div>
					<img src="images/modules/new_year/new-year01.jpg"/>
					<div class="floor01">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5983" class="pic">
							<img src="images/modules/new_year/new-year02.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5814" class="pic">
							<img src="images/modules/new_year/new-year03.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/modules/new_year/new-year04.jpg"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=6344" class="pic">
							<img src="images/modules/new_year/new-year05.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5704" class="pic">
							<img src="images/modules/new_year/new-year06.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/modules/new_year/new-year07.jpg"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5912" class="pic">
							<img src="images/modules/new_year/new-year08.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6226" class="pic">
							<img src="images/modules/new_year/new-year09.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/modules/new_year/new-year10.jpg"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5699" class="pic">
							<img src="images/modules/new_year/new-year11.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5820" class="pic">
							<img src="images/modules/new_year/new-year12.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5843" class="pic">
							<img src="images/modules/new_year/new-year13.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5940" class="pic">
							<img src="images/modules/new_year/new-year14.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5852" class="pic">
							<img src="images/modules/new_year/new-year15.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5910" class="pic">
							<img src="images/modules/new_year/new-year16.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5778" class="pic">
							<img src="images/modules/new_year/new-year17.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5975" class="pic">
							<img src="images/modules/new_year/new-year18.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5750" class="pic">
							<img src="images/modules/new_year/new-year19.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5935" class="pic">
							<img src="images/modules/new_year/new-year20.jpg"/>
						</a>
					</div>
				</div>
				<div>
					<img src="images/modules/new_year/new-year21.jpg"/>
					<div class="floor02">
						<a href="http://www.gojmall.com/wap/item.html?item_id=5825" class="pic">
							<img src="images/modules/new_year/new-year24.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5958" class="pic">
							<img src="images/modules/new_year/new-year23.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6206" class="pic">
							<img src="images/modules/new_year/new-year25.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6214" class="pic">
							<img src="images/modules/new_year/new-year26.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=6328" class="pic">
							<img src="images/modules/new_year/new-year27.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5955" class="pic">
							<img src="images/modules/new_year/new-year28.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5916" class="pic">
							<img src="images/modules/new_year/new-year29.jpg"/>
						</a>
						<a href="http://www.gojmall.com/wap/item.html?item_id=5927" class="pic">
							<img src="images/modules/new_year/new-year30.jpg"/>
						</a>
					</div>
				</div>

			</div>
	</div>

</body>
</html>
