  <!-- header -->
  <div class="home">
    <header>
      <div class="hd-logo">
        <a href="http://www.myjmall.com/wap" class="logo" title="">
    <img alt="logo" src="http://www.myjmall.com/themes/wapmall/images/56e438276be7f2d7ae2b7bede423048f6847e9062.png" />
</a>
      </div>
      <div class="hd-search">
        <form action="http://www.myjmall.com/wap/search.html" method="post" id="goods_search">
  <input type="text" name="keyword" placeholder="寻找商品、店铺">
  <button>
    <i class="icon icon-search"></i>
  </button>
</form>


<script>
  $('.hd-search input').focus(function(){
    $(this).css('box-shadow','0 0 5px #747C85 inset');
  });
</script>      </div>
      <div class="hd-menu">
        <a class="ui-btn" href="http://www.myjmall.com/wap/categroy.html">
  <i class="icon icon-item"></i>
</a>

      </div>
    </header>

    <!-- nav -->
    <nav class="nav" id="nav">
      <ul class="ui-table-view ui-grid-view">
    <li class="ui-table-view-cell cl-mint">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=549" class="label-item">
      <i class="icon icon-hot "></i>
      <span class="label-item-title">母婴用品</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-sky">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=551" class="label-item">
      <i class="icon icon-store"></i>
      <span class="label-item-title">家居日用</span>
    </a>
  </li>
    <li class="ui-table-view-cell orange">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=550" class="label-item">
      <i class="icon icon-order"></i>
      <span class="label-item-title">个人美妆</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-grass">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=548" class="label-item">
      <i class="icon icon-catalog"></i>
      <span class="label-item-title">精选食品</span>
    </a>
  </li>
  </ul>
<ul class="ui-table-view ui-grid-view">
    <li class="ui-table-view-cell cl-mystery">
    <a href="http://www.myjmall.com/wap/activity-list.html" class="label-item">
      <i class="icon icon-point "></i>
      <span class="label-item-title">限时打折</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-pinkpur">
    <a href="http://www.myjmall.com/wap/activity-list.html" class="label-item">
      <i class="icon icon-tag"></i>
      <span class="label-item-title">团购频道</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-gloden">
    <a href="http://www.myjmall.com/wap/member-index.html" class="label-item">
      <i class="icon icon-member"></i>
      <span class="label-item-title">会员中心</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-watermelon">
    <a href="http://www.myjmall.com/wap/cart.html" class="label-item">
      <i class="icon icon-cart"></i>
      <span class="label-item-title">购物车</span>
    </a>
  </li>
  
</ul>

    </nav>


<div class="main" style="line-height:0px;">
	<div class="sdj">
    这部分为平时活动页的内容html代码
    
    
    </div>
</div>



    <div id="gotop"></div>
  </div>

  