</div>
<script src="images/modules/shengdanjie/jquery-2.2.4.js"></script>
<script src="images/modules/shengdanjie/snow.js"></script>
<div id="index" class="zhuanti">


			<div><img src="images/modules/qingrenjie/qingrenjie2017_01.jpg" /></div>
            <div><img src="images/modules/qingrenjie/qingrenjie2017_02.jpg" /></div>
            <div><img src="images/modules/qingrenjie/qingrenjie2017_03.jpg" /></div>
            <div><img src="images/modules/qingrenjie/qingrenjie2017_04.jpg" usemap="#Map002" border="0" />
              <map name="Map002" id="Map002">
                <area shape="rect" coords="382,55,956,763" href="http://www.gojmall.com/item.html?item_id=7229" target="_blank" />
                <area shape="rect" coords="965,107,1529,827" href="http://www.gojmall.com/item.html?item_id=7230" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/qingrenjie/qingrenjie2017_05.jpg" usemap="#Map003" border="0" />
              <map name="Map003" id="Map003">
                <area shape="rect" coords="374,156,1438,588" href="http://www.gojmall.com/item.html?item_id=7233" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/qingrenjie/qingrenjie2017_06.jpg" usemap="#Map005" border="0" />
              <map name="Map005" id="Map005">
                <area shape="rect" coords="375,43,946,707" href="http://www.gojmall.com/item.html?item_id=7231" target="_blank" />
                <area shape="rect" coords="960,225,1532,724" href="http://www.gojmall.com/item.html?item_id=7232" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/qingrenjie/qingrenjie2017_07.jpg" usemap="#Map007" border="0" />
              <map name="Map007" id="Map007">
                <area shape="rect" coords="961,3,1534,175" href="http://www.gojmall.com/item.html?item_id=7232" target="_blank" />
                <area shape="rect" coords="377,6,946,668" href="http://www.gojmall.com/item.html?item_id=7234" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/qingrenjie/qingrenjie2017_08.jpg" usemap="#Map009" border="0" />
              <map name="Map009" id="Map009">
                <area shape="rect" coords="725,48,939,111" href="#" target="_blank" />
                <area shape="rect" coords="974,47,1191,114" href="http://www.gojmall.com/" target="_blank" />
              </map>
            </div>
            
            

</div><div><div>