</div>
<script src="images/modules/shengdanjie/jquery-2.2.4.js"></script>
<script src="images/modules/shengdanjie/snow.js"></script>
<div id="index" class="zhuanti">


			<div><img src="images/modules/shengdanjie/shengdanjie_01.jpg" /></div>
            <div><img src="images/modules/shengdanjie/shengdanjie_02.jpg" usemap="#Map003" border="0" />
              <map name="Map003" id="Map003">
                <area shape="rect" coords="669,122,967,590" href="http://www.gojmall.com/item.html?item_id=6219" target="_blank" />
                <area shape="rect" coords="976,122,1243,593" href="http://www.gojmall.com/item.html?item_id=6222" target="_blank" />
                <area shape="rect" coords="1246,122,1501,595" href="http://www.gojmall.com/item.html?item_id=6217" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_03.jpg" /></div>
            <div><img src="images/modules/shengdanjie/shengdanjie_04.jpg" usemap="#Map007" border="0" />
              <map name="Map007" id="Map007">
                <area shape="rect" coords="355,7,647,431" href="http://www.gojmall.com/item.html?item_id=5721" target="_blank" />
                <area shape="rect" coords="663,9,949,434" href="http://www.gojmall.com/item.html?item_id=6336" target="_blank" />
                <area shape="rect" coords="973,12,1268,437" href="http://www.gojmall.com/item.html?item_id=6201" target="_blank" />
                <area shape="rect" coords="1284,14,1572,438" href="http://www.gojmall.com/item.html?item_id=6344" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_05.jpg" usemap="#Map012" border="0" />
              <map name="Map012" id="Map012">
                <area shape="rect" coords="439,98,720,423" href="http://www.gojmall.com/item.html?item_id=5920" target="_blank" />
                <area shape="rect" coords="752,135,1046,507" href="http://www.gojmall.com/item.html?item_id=5910" target="_blank" />
                <area shape="rect" coords="1095,91,1387,447" href="http://www.gojmall.com/item.html?item_id=5912" target="_blank" />
                <area shape="rect" coords="511,486,745,781" href="http://www.gojmall.com/item.html?item_id=5778" target="_blank" />
                <area shape="rect" coords="1061,474,1306,785" href="http://www.gojmall.com/item.html?item_id=5776" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_06.jpg" usemap="#Map014" border="0" />
              <map name="Map014" id="Map014">
                <area shape="rect" coords="390,384,934,717" href="http://www.gojmall.com/item.html?item_id=6078" target="_blank" />
                <area shape="rect" coords="1017,277,1524,731" href="http://www.gojmall.com/item.html?item_id=6053" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_07.jpg" usemap="#Map015" border="0" />
              <map name="Map015" id="Map015">
                <area shape="rect" coords="933,17,1342,464" href="http://www.gojmall.com/item.html?item_id=6025" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_08.jpg" usemap="#Map017" border="0" />
              <map name="Map017" id="Map017">
                <area shape="rect" coords="433,38,943,404" href="http://www.gojmall.com/item.html?item_id=6045" target="_blank" />
                <area shape="rect" coords="1004,37,1597,415" href="http://www.gojmall.com/item.html?item_id=6027" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_09.jpg" usemap="#Map018" border="0" />
              <map name="Map018" id="Map018">
                <area shape="rect" coords="558,9,1566,340" href="http://www.gojmall.com/item.html?item_id=6072" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_10.jpg" usemap="#Map022" border="0" />
              <map name="Map022" id="Map022">
                <area shape="rect" coords="367,235,654,771" href="http://www.gojmall.com/item.html?item_id=5814" target="_blank" />
                <area shape="rect" coords="673,229,967,768" href="http://www.gojmall.com/item.html?item_id=5685" target="_blank" />
                <area shape="rect" coords="982,234,1279,765" href="http://www.gojmall.com/item.html?item_id=5940" target="_blank" />
                <area shape="rect" coords="1290,234,1586,764" href="http://www.gojmall.com/item.html?item_id=5665" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_11.jpg" usemap="#Map026" border="0" />
              <map name="Map026" id="Map026">
                <area shape="rect" coords="370,15,653,538" href="http://www.gojmall.com/item.html?item_id=5917" target="_blank" />
                <area shape="rect" coords="681,18,961,538" href="http://www.gojmall.com/item.html?item_id=5941" target="_blank" />
                <area shape="rect" coords="985,19,1268,533" href="http://www.gojmall.com/item.html?item_id=5975" target="_blank" />
                <area shape="rect" coords="1293,23,1579,535" href="http://www.gojmall.com/item.html?item_id=5773" target="_blank" />
              </map>
            </div>
            <div><img src="images/modules/shengdanjie/shengdanjie_12.jpg" /></div>
            

</div><div><div>