</div>
<div id="index" class="zhuanti">


        <div><img src="images/subject/wuyi_01.jpg" /></div>
            <div><img src="images/subject/wuyi_02.jpg" /></div>
            <div><img src="images/subject/wuyi_03.jpg" usemap="#Map002" border="0" />
              <map name="Map002" id="Map002">
                <area shape="rect" coords="434,52,940,476" href="http://www.myjmall.com/item.html?item_id=4826" target="_blank" />
                <area shape="rect" coords="1001,26,1549,411" href="http://www.myjmall.com/item.html?item_id=1407" target="_blank" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_04.jpg" /></div>
            <div><img src="images/subject/wuyi_05.jpg" usemap="#Map003" border="0" />
              <map name="Map003" id="Map003">
                <area shape="rect" coords="640,45,1427,424" href="http://www.myjmall.com/item.html?item_id=1579" target="_blank" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_06.jpg" usemap="#Map005" border="0" />
              <map name="Map005" id="Map005">
                <area shape="rect" coords="380,28,935,454" href="http://www.myjmall.com/item.html?item_id=3549" target="_blank" />
                <area shape="rect" coords="957,31,1504,448" href="http://www.myjmall.com/item.html?item_id=4598" target="_blank" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_07.jpg" usemap="#Map007" border="0" />
              <map name="Map007" id="Map007">
                <area shape="rect" coords="381,35,956,435" href="http://www.myjmall.com/item.html?item_id=1284" target="_blank" />
                <area shape="rect" coords="982,36,1604,426" href="http://www.myjmall.com/item.html?item_id=1578" target="_blank" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_08.jpg" /></div>
            <div><img src="images/subject/wuyi_09.jpg" usemap="#Map008" border="0" />
              <map name="Map008" id="Map008">
                <area shape="rect" coords="720,16,1180,384" href="http://www.myjmall.com/item.html?item_id=1419" target="_blank" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_10.jpg" usemap="#Map011" border="0" />
              <map name="Map011" id="Map011">
                <area shape="rect" coords="354,6,814,436" href="http://www.myjmall.com/item.html?item_id=806" target="_blank" />
                <area shape="rect" coords="1189,5,1567,422" href="http://www.myjmall.com/item.html?item_id=774" target="_blank" />
                <area shape="rect" coords="841,315,1117,458" href="http://www.myjmall.com/item.html?item_id=3021" target="_blank" />
              </map>
        </div>
            <div><img src="images/subject/wuyi_11.jpg" usemap="#Map012" border="0" />
              <map name="Map012" id="Map012">
                <area shape="rect" coords="841,1,1117,352" href="#" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_12.jpg" /></div>
            <div><img src="images/subject/wuyi_13.jpg" usemap="#Map015" border="0" />
              <map name="Map015" id="Map015">
                <area shape="rect" coords="434,13,772,379" href="http://www.myjmall.com/item.html?item_id=1697" target="_blank" />
                <area shape="rect" coords="787,11,1147,377" href="http://www.myjmall.com/item.html?item_id=1704" target="_blank" />
                <area shape="rect" coords="1168,12,1511,375" href="http://www.myjmall.com/item.html?item_id=3007" target="_blank" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_14.jpg" usemap="#Map018" border="0" />
              <map name="Map018" id="Map018">
                <area shape="rect" coords="434,6,775,354" href="http://www.myjmall.com/item.html?item_id=3145" target="_blank" />
                <area shape="rect" coords="787,8,1153,359" href="http://www.myjmall.com/item.html?item_id=803" target="_blank" />
                <area shape="rect" coords="1170,12,1510,363" href="http://www.myjmall.com/item.html?item_id=1234" target="_blank" />
              </map>
            </div>
            <div><img src="images/subject/wuyi_15.jpg" usemap="#Map019" border="0" />
              <map name="Map019" id="Map019">
                <area shape="rect" coords="754,157,882,211" href="http://www.myjmall.com/" target="_parent" />
              </map>
            </div>
		</div>

<div><div>
