  <!-- header -->
  <div class="home">
    <header>
      <div class="hd-logo">
        <a href="http://www.myjmall.com/wap" class="logo" title="">
    <img alt="logo" src="http://www.myjmall.com/themes/wapmall/images/56e438276be7f2d7ae2b7bede423048f6847e9062.png" />
</a>
      </div>
      <div class="hd-search">
        <form action="http://www.myjmall.com/wap/search.html" method="post" id="goods_search">
  <input type="text" name="keyword" placeholder="寻找商品、店铺">
  <button>
    <i class="icon icon-search"></i>
  </button>
</form>


<script>
  $('.hd-search input').focus(function(){
    $(this).css('box-shadow','0 0 5px #747C85 inset');
  });
</script>      </div>
      <div class="hd-menu">
        <a class="ui-btn" href="http://www.myjmall.com/wap/categroy.html">
  <i class="icon icon-item"></i>
</a>

      </div>
    </header>

    <!-- nav -->
    <nav class="nav" id="nav">
      <ul class="ui-table-view ui-grid-view">
    <li class="ui-table-view-cell cl-mint">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=549" class="label-item">
      <i class="icon icon-hot "></i>
      <span class="label-item-title">母婴用品</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-sky">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=551" class="label-item">
      <i class="icon icon-store"></i>
      <span class="label-item-title">家居日用</span>
    </a>
  </li>
    <li class="ui-table-view-cell orange">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=550" class="label-item">
      <i class="icon icon-order"></i>
      <span class="label-item-title">个人美妆</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-grass">
    <a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=548" class="label-item">
      <i class="icon icon-catalog"></i>
      <span class="label-item-title">精选食品</span>
    </a>
  </li>
  </ul>
<ul class="ui-table-view ui-grid-view">
    <li class="ui-table-view-cell cl-mystery">
    <a href="http://www.myjmall.com/wap/activity-list.html" class="label-item">
      <i class="icon icon-point "></i>
      <span class="label-item-title">限时打折</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-pinkpur">
    <a href="http://www.myjmall.com/wap/activity-list.html" class="label-item">
      <i class="icon icon-tag"></i>
      <span class="label-item-title">团购频道</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-gloden">
    <a href="http://www.myjmall.com/wap/member-index.html" class="label-item">
      <i class="icon icon-member"></i>
      <span class="label-item-title">会员中心</span>
    </a>
  </li>
    <li class="ui-table-view-cell cl-watermelon">
    <a href="http://www.myjmall.com/wap/cart.html" class="label-item">
      <i class="icon icon-cart"></i>
      <span class="label-item-title">购物车</span>
    </a>
  </li>
  
</ul>

    </nav>


<div class="main" style="line-height:0px;">
	<div class="sdj">
    <div>
<img src="images/qrj-sj_01.jpg" style="width:100%" >
    </div>
    <div>
<img src="images/qrj-sj_02.jpg" style="width:100%" >
    </div>
    <div>
<img src="images/qrj-sj_03.jpg" style="width:100%" >
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2546"><img src="images/qrj-sj_04.jpg" style="width:50%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2549"><img src="images/qrj-sj_05.jpg" style="width:50%" ></a>
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2544"><img src="images/qrj-sj_06.jpg" style="width:50%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2527"><img src="images/qrj-sj_07.jpg" style="width:50%" ></a>
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2533"><img src="images/qrj-sj_08.jpg" style="width:100%" ></a>
    </div>
    <div>
<img src="images/qrj-sj_09.jpg" style="width:100%" >
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2525"><img src="images/qrj-sj_10.jpg" style="width:33.33%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2529"><img src="images/qrj-sj_11.jpg" style="width:33.33%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2521"><img src="images/qrj-sj_12.jpg" style="width:33.33%" ></a>
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2517"><img src="images/qrj-sj_13.jpg" style="width:33.33%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2510"><img src="images/qrj-sj_14.jpg" style="width:33.33%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2509"><img src="images/qrj-sj_15.jpg" style="width:33.33%" ></a>
    </div>
    <div>
<img src="images/qrj-sj_16.jpg" style="width:100%" >
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2505"><img src="images/qrj-sj_17.jpg" style="width:50%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2504"><img src="images/qrj-sj_18.jpg" style="width:50%" ></a>
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2503"><img src="images/qrj-sj_19.jpg" style="width:50%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2502"><img src="images/qrj-sj_20.jpg" style="width:50%" ></a>
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2501"><img src="images/qrj-sj_21.jpg" style="width:50%" ></a><a href="http://www.myjmall.com/wap/item.html?item_id=2499"><img src="images/qrj-sj_22.jpg" style="width:50%" ></a>
    </div>
    <div><img src="images/qrj-sj_23.jpg" style="width:100%" ></div>
    <div><a href="http://www.myjmall.com/wap/item.html?item_id=2497"><img src="images/qrj-sj_24.jpg" style="width:100%" ></a></div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=1318"><img src="images/qrj-sj_25.jpg" style="width:100%" ></a>
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=1293"><img src="images/qrj-sj_26.jpg" style="width:100%" ></a>
    </div>
    <div>
<a href="http://www.myjmall.com/wap/item.html?item_id=2150"><img src="images/qrj-sj_27.jpg" style="width:100%" ></a>
    </div>
    <div>
<img src="images/qrj-sj_28.jpg" style="width:100%" >
    </div>
    
    
    </div>
</div>



    <div id="gotop"></div>
  </div>

  