<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>

	<div class="main" style="line-height:0px;">
		<div class="sdj">
			<div><img src="images/qingshe_01.jpg" style="width:100%"/></div>
            <div><img src="images/qingshe_02.jpg" style="width:100%"/></div>
            <div><a href="http://www.myjmall.com/wap/item.html?item_id=6025"><img src="images/qingshe_03.jpg" style="width:50%"/></a><a href="http://www.myjmall.com/wap/item.html?item_id=6033"><img src="images/qingshe_04.jpg" style="width:50%"/></a></div>
            <div><a href="http://www.myjmall.com/wap/item.html?item_id=6038"><img src="images/qingshe_05.jpg" style="width:50%"/></a><a href="http://www.myjmall.com/wap/item.html?item_id=6060"><img src="images/qingshe_06.jpg" style="width:50%"/></a></div>
            <div><img src="images/qingshe_07.jpg" style="width:100%"/></div>
            <div><a href="http://www.myjmall.com/wap/item.html?item_id=6037"><img src="images/qingshe_08.jpg" style="width:50%"/></a><a href="http://www.myjmall.com/wap/item.html?item_id=6066"><img src="images/qingshe_09.jpg" style="width:50%"/></a></div>
            <div><a href="http://www.myjmall.com/wap/item.html?item_id=6064"><img src="images/qingshe_10.jpg" style="width:50%"/></a><a href="http://www.myjmall.com/wap/item.html?item_id=6063"><img src="images/qingshe_11.jpg" style="width:50%"/></a></div>
            <div><a href="http://www.myjmall.com/wap/item.html?item_id=6075"><img src="images/qingshe_12.jpg" style="width:50%"/></a><a href="http://www.myjmall.com/wap/item.html?item_id=6048"><img src="images/qingshe_13.jpg" style="width:50%"/></a></div>
            <div><a href="http://www.myjmall.com/wap/item.html?item_id=6024"><img src="images/qingshe_14.jpg" style="width:50%"/></a><a href="http://www.myjmall.com/wap/item.html?item_id=6071"><img src="images/qingshe_15.jpg" style="width:50%"/></a></div>
            <div><a href="http://www.myjmall.com/wap/catlistinfo.html?cat_id=705"><img src="images/qingshe_16.jpg" style="width:100%"/></a></div>
            
            
	

		</div>
	</div>










</body>
</html>
