</div>
<div id="index" class="zhuanti">


			<div><img src="images/baojian_01.jpg" /></div>
            <div><img src="images/baojian_02.jpg" usemap="#Map001" border="0" />
              <map name="Map001" id="Map001">
                <area shape="rect" coords="585,32,1373,410" href="http://www.myjmall.com/item.html?item_id=5775" target="_blank" />
              </map>
            </div>
            <div><img src="images/baojian_03.jpg" usemap="#Map002" border="0" />
              <map name="Map002" id="Map002">
                <area shape="rect" coords="608,3,1391,345" href="http://www.myjmall.com/item.html?item_id=5777" target="_blank" />
              </map>
            </div>
            <div><img src="images/baojian_04.jpg" usemap="#Map003" border="0" />
              <map name="Map003" id="Map003">
                <area shape="rect" coords="597,3,1386,329" href="http://www.myjmall.com/item.html?item_id=5774" target="_blank" />
              </map>
            </div>
            <div><img src="images/baojian_05.jpg" usemap="#Map004" border="0" />
              <map name="Map004" id="Map004">
                <area shape="rect" coords="628,4,1431,360" href="http://www.myjmall.com/item.html?item_id=5773" target="_blank" />
              </map>
            </div>
            <div><img src="images/baojian_06.jpg" /></div>
            <div><img src="images/baojian_07.jpg" usemap="#Map005" border="0" />
              <map name="Map005" id="Map005">
                <area shape="rect" coords="624,4,1405,419" href="http://www.myjmall.com/item.html?item_id=5772" target="_blank" />
              </map>
            </div>
            <div><img src="images/baojian_08.jpg" usemap="#Map008" border="0" />
              <map name="Map008" id="Map008">
                <area shape="rect" coords="371,7,781,528" href="http://www.myjmall.com/item.html?item_id=5778" target="_blank" />
                <area shape="rect" coords="788,7,1157,527" href="http://www.myjmall.com/item.html?item_id=5776" target="_blank" />
                <area shape="rect" coords="1161,7,1542,526" href="http://www.myjmall.com/item.html?item_id=5860" target="_blank" />
              </map>
            </div>
            <div><img src="images/baojian_09.jpg" /></div>
	

			</div><div><div>