 <p>
    <span class="btn btn-default"><input type="checkbox" name="" id="selectAll" /> 全选</span>
    <button type="button" class="btn btn-default text-red act-delall">
      <i class="glyphicon glyphicon-remove"></i>
      <{t}>批量删除<{/t}>
    </button>
    <!--<button type="button" class="btn btn-default text-blue act-addcat"  onclick="newWareDiaLayer()">
      <i class="glyphicon glyphicon-plus"></i>
      <{t}>添加新仓库<{/t}>
    </button>-->
    <a class="btn btn-default text-blue" href="<{url action=topshop_ctl_areaware@add}>" data-toggle="modal" data-target="#wareInfoEdit">
 		<i class="glyphicon glyphicon-plus"></i> <{t}>添加新仓库<{/t}>
 	</a>
	<!--
    <button type="submit" class="btn btn-default pull-right"><{t}>保存更改<{/t}></button>-->
  </p>
  <table class="table table-bordered table-hover table-shopcat" id="data_table">
    <colgroup>
      <col class="col-md-0">
      <col class="col-md-5">
      <col class="col-md-2">
      <col class="col-md-2">
      <col class="col-md-3">
    </colgroup>
    <thead>
      <tr>
        <td width="30"></td>
        <td width="150"><{t}>仓库名称<{/t}></td>        
		<td width="100" class="text-center"><{t}>业务类型<{/t}></td>
		<td width="80" class="text-center"><{t}>状态<{/t}></td>
        <td width="120" ><{t}>最后更新时间<{/t}></td>
        <td width="120" class="text-center"><{t}>操作<{/t}></td>
      </tr>
    </thead>
    <{if $wregions}>
    <{foreach from=$wregions item=item name='name' key=key}>
    <tbody>
      <tr>
        <td><input type="checkbox" name="cat[<{$item.id}>]" value="<{$item.id}>" class="main-check"></td>
        <td class="form-group">           
		  <span><{$item.name}></span>		   
        </td>
		<td class="form-group text-center">           
		  <span><{if $item.tax eq '3'}> 直邮<{elseif $item.tax eq '2'}> <font color="red">保税</font> <{else}> 完税 <{/if}></span>		   
        </td>
        <td class="sortable-bar">
		  <{if $item.state eq 1 }><font color="green">正常</font><{elseif($item.state eq 2)}><font color="blue">待审核</font><{else}><font color="red">失效</font><{/if}>		  
        </td>
        <td><{if $item.modified_time}><{$item.modified_time|cdate}><{/if}></td>
        <td style="width: 161px!important;  display: inline-block;text-align: center;">
			<span class="text-nowrap"><a href="javascript:void(0)" wid="<{$item.id}>"  class="del text-danger"><{t}>删除<{/t}></a></span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<span class="text-nowrap"><a href="javascript:void(0)" class="act-editware" waid="<{$item.id}>"s ><{t}>编辑<{/t}></a></span>
        </td>
      </tr>       
    </tbody>
    <{/foreach}>
    <{else}>
    <tbody id="none_cat">
      <tr class="none-information">
        <td colspan="5" align="center">请先添加发货仓库</td>
      </tr>
    </tbody>
    <{/if}>
  </table>
  
  
<!--仓库新增和修改弹框-->
<div class="modal fade" id="wareInfoEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>

<script type="text/javascript">
var cat_id, sub_id;
var table = $('#data_table');
var firstcheckbox = table.find('tbody input[type=checkbox][name^=cat]').first();
var lastcheckbox = table.find('tbody input[type=checkbox][name^=cat]').last();
if(firstcheckbox.size()) {
    cat_id = firstcheckbox.val() || 0;
}
else {
    cat_id = 0;
}
if(lastcheckbox.size()) {
    sub_id = lastcheckbox.val() || 0;
}
else {
    sub_id = 0;
}
cat_id ++;
sub_id ++;
function substitute(string, cat_id, sub_id) {
    string = string.replace(/\{cat_id\}/g, cat_id);
    if(sub_id || sub_id === 0) {
        string = string.replace(/\{sub_id\}/g, sub_id);
    }
    return string;
}
//全选
$('#selectAll').on('change', function(e) {
    table.find('input[type=checkbox]').prop('checked', this.checked);
});

//模态框事件
$(function() {
	//编辑
	$('.act-editware').on('click', function(e) {
		var outWid = $(this).attr("waid");
		var remoteurl = "<{url action=topshop_ctl_areaware@add}>?waid="+outWid;
		
		//初始化数据
		$('#wareInfoEdit').modal({
			keyboard: false,
			remote: remoteurl,
			show:true
		});
		
		//隐藏时清空；
	    $("#wareInfoEdit").on("hidden.bs.modal", function() {
	    	//关闭时调用removeData
		    $(this).removeData("bs.modal");
		});
	    
	});
		
		
		 
		 
		 
		 
		/*$('#wareInfoEdit').on('shown.bs.modal',
		    function() {
		    	var htmls = $.get(remoteurl,{},function(result){
		    		$('#wareInfoEdit .modal-content').html(result);
		    	})
		    })
		});*/
});
   /* $('#wareInfoEdit').on('hide.bs.modal',
	    function() {
	    	//$('#wareInfoEdit .modal-content').html("");
	    })
	});*/


function newWareDiaLayer(){
	clearWareForm(0);
	$('#newWareDialog').modal('show');
	$("#newWareForm .btn-primary").fadeIn();
	/*触发事件*/
	checked_tax();
	$("#newWareForm .btn-primary").on("click",function (){ $("#newWareForm").submit();});
}

//清空数据；
function clearWareForm( iscolose ){
	setTimeout(function(){ 
		$("#ware_name").val("");
		$("#ware_shipping").val(0);		
		$("#editware_id").val("");
		//$("#close_layer_btn").trigger("click");
		if(typeof(iscolose)!="undefined" && parseInt(iscolose) > 0){
			$('#newWareDialog').modal('hide');
		}
	}, 1000);
}
//查看
//data-toggle="modal" data-target="#newWareDialog"
function readWareLayer(obj){
	var tax = $(obj).attr("tax") || 0;
	var wname = $(obj).attr("wname") || "";
	var shipping = $(obj).attr("shipping") || 0;
	var status = $(obj).attr("ware_status") || 0; 
	//console.dir("  "+ tax + "  " +  wname + "   " + shipping+ "  " + status);
	$('#newWareDialog').modal('show');
	var wid  = $(obj).attr("wid") || 0;
	$("#editware_id").val(wid);
	$("#newWareForm .btn-primary").fadeOut();
	
	$("#wara_model_content").find("input[name=ware_name]").val(wname);
	$("#wara_model_content").find("input[name=ware_shipping]").val(shipping);
	var taxobj = $("#wara_model_content").find("input[name=ware_tax]");
	taxobj.removeAttr('checked');
	taxobj.each(function() {	
					var selectv = $(this).val()||"";					 
					if(parseInt(selectv)==parseInt(tax)){$(this).trigger('click');}
                });
	var statusobj = $("#wara_model_content").find("input[name=ware_status]");
	statusobj.removeAttr('checked');
	statusobj.each(function() {
					var selectv = $(this).val()||"";					 
					if(parseInt(selectv)==parseInt(status)){$(this).trigger('click');}					  
                }); 
}
//批量删除 操作
$('.act-delall').on('click', function(e) {
    var checked = table.find('input[type=checkbox]:checked');
    if(!checked.size()) {
        return $('#messagebox').message('请至少选择一项');
    }
    if(confirm('确定删除选择的仓库吗？')) {
		var del_ppids = new Array();
        checked.each(function() {            
			var parent_vid = $(this).val();		
			
            if(parent_vid && parseInt(parent_vid) >0) {
                del_ppids.push(parent_vid);				 
            }
        });		 
		
		if(del_ppids.length==0){
			 return $('#messagebox').message('请至少选择一项');
		}else{
			$.post('<{url action="topshop_ctl_areaware@removeWare"}>', {"delwids":del_ppids}, function(rs) {
				console.dir(rs);
                if(rs.success) {
                    $('#messagebox').message(rs.message,"success");
					checked.each(function() {            
						var parent = $(this).parents('tr');
						if(parent.index() == 0) {						 
							parent = parent.parent();
						}
						parent.hide();
					}); 
                    return;
                }else{
					$('#messagebox').message(rs.message);
				}				               
            },"json");
		}		
		return true;
    }
});

 
function categoryCallback (instance, option) {
    $('#catDialog').find('.btn-primary').prop('disabled', option.hasChild ? true : false);
}

table.on('change', '.main-check', function(e) {
    $(this).parents('tbody').find('input[type=checkbox].sub-check').prop('checked', this.checked);
})
.on('click', '.del', function(e) {
    e.preventDefault();
    var parent = $(this).parents('tr');
    if(parent.index() == 0) {        
        parent = parent.parent();
    }
	var del_arrid = new Array(1);
    if(confirm('确定删除当前行吗？')) {
		var del_pod_id = $(this).attr("wid");
		if(del_pod_id){
			del_arrid.push(del_pod_id);
			$.post('<{url action="topshop_ctl_areaware@removeWare"}>', {"delwids":del_arrid}, function(rs) {				 
                if(rs.success) {
                    $('#messagebox').message(rs.message,"success");
					parent.hide();
                    return;
                }else{
					$('#messagebox').message(rs.message);
				}				               
            },"json");
		}  
    }
});
</script>

<script>
  $(document).ready(
    function() {
      $(".sidebar .sidebar-menu li a i.glyphicon").eq(1).removeClass("glyphicon-list-alt").addClass("glyphicon-edit");
    }
  );
</script>
